---
import Layout from "../layouts/Layout.astro";
import Event from "../components/webinars/Event.astro";
import Day from "../components/webinars/Day.astro";
---

<Layout title="Digeek 2024">
  <main class="w-auto h-auto bg-[#121212] pb-[30vh] md:w-5vh xl:pb-20 pt-[100px] z-0">
    <div
      class="flex flex-col items-center justify-center z-0 md:max-xl:flex-row md:max-xl:ml-20 md:max-xl:items-start    xl:ml-40 xl:items-start xl:flex-row xl:space-x-2 xl:justify-start"
    >
      <Day name="Marzo 14">
        <Event
          name="Registro"
          time="9:00 AM - 10:00 AM"
          description="Registro en el gimnasio de CETYS"
          isOdd={false}
        />
        <Event
          name="Nuevas tecnologías AI"
          time="10:00 AM - 11:00 AM"
          description="Samsung SRT. Por Miguel Gonzalez. ISW | IDGD"
          isOdd={true}
        />
        <Event
          name="Retos Creativos para Eventos Masivos "
          time="11:00 AM - 12:00 PM"
          description="Samsung SRT. Por Luis Pardo. ISW"
          isOdd={false}
        />
        <Event
          name="Algoritmos, importancia, consejos y técnicas para resolverlos"
          time="12:00 PM - 1:00 PM"
          description="Samsung SRT. Por Rafael Vazquez. ISW"
          isOdd={true}
        />
        <Event
          name="Interview, tips and hacks"
          time="1:00 PM - 2:00 PM"
          description="Samsung SRT. Por Iván Martinez. ISW | IDGD"
          isOdd={false}
        />
        <Event
          name="AI / ML Aplicado a Poc"
          time="2:00 PM - 3:00 PM"
          description="Samsung SRT. AI / ML Aplicado a Poc"
          isOdd={true}
        />
        <Event
          name="Comida"
          time="3:00 PM - 4:30 PM"
          description="Comida"
          isOdd={false}
        />
        <Event
          name="Taller - Elementos básicos de composición fotográfica"
          time="4:30 PM - 6:30 PM"
          description="Por Diego Covarrubias"
          isOdd={true}
        />
        <Event
          name="Taller UI/UX Design thinking"
          time="4:30 PM - 6:30 PM"
          description="Por Roberto Calderon. IDGD"
          isOdd={false}
        />
        <Event
          name="Taller Gear Parte 1"
          time="4:30 PM - 6:30 PM"
          description="ISW"
          isOdd={true}
        />
        <Event
          name="Taller - Master Material en Unreal Engine"
          time="4:30 PM - 6:30 PM"
          description="Por Ana Silvia Armenta"
          isOdd={false}
        />
      </Day>

      <Day name="Marzo 15">
        <Event
          name="Registro"
          time="9:00 AM - 10:00 AM"
          description="Registro en el gimnasio de CETYS"
          isOdd={false}
        />
        <Event
          name="QA en la industria del software"
          time="10:00 AM - 11:00 AM"
          description="Conferencia por Dilato. ISW"
          isOdd={true}
        />
        <Event
          name="One of the best places to work"
          time="11:00 AM - 12:00 PM"
          description="ISW"
          isOdd={false}
        />
        <Event
          name="Nadia Islas - Cinematografía y cortometrajes"
          time="12:00 PM - 1:00 PM"
          description="Por Nadia Islas. IDGD"
          isOdd={true}
        />
        <Event
          name="Oportunidaes para desarrolladores en Web3 con Vara Network"
          time="1:00 PM - 2:00 PM"
          description="ISW | IDGD"
          isOdd={false}
        />
        <Event
          name="Monste - 20 años ilustrando en Disney"
          time="2:00 PM - 3:00 PM"
          description="IDGD"
          isOdd={true}
        />
        <Event
          name="Comida"
          time="3:00 PM - 4:30 PM"
          description="Comida"
          isOdd={false}
        />
        <Event
          name="Taller Composición CG de VFX"
          time="4:30 PM - 6:30 PM"
          description="Taller por Carina Garcia Rosas. IDGD"
          isOdd={true}
        />
        <Event
          name="Ilustración digital"
          time="4:30 PM - 6:30 PM"
          description="Por Montse. IDGD"
          isOdd={false}
        />
        <Event
          name="Tamagotchi battle"
          time="4:30 PM - 6:30 PM"
          description="Vara Network. ISW"
          isOdd={true}
        />
      </Day>
    </div>

    <div id="info-container" class="h-fit flex justify-between">
      <div
        class="min-w-[100vw] h-fit flex justify-between flex-col items-center fixed bottom-0 left-0 xl:top-60 xl:right-0 xl:justify-end xl:items-end xl:w-auto pointer-events-none"
      >
        <div
          class="bg-[#7678FF] w-full max-w-[30rem] h-[50%] rounded-t-[30px] p-5 sm:w-[30rem] xl:rounded-r-[0px] xl:rounded-l-[30px] pointer-events-auto"
        >
          <span
            id="container-event-title"
            class="event-title text-2xl xl:text-4xl text-white font-semibold">Registro</span
          >

          <div class="flex flex-row items-center">
            <img src="./calendarWhite.png" class=" w-7 h-7 xl:w-10 xl:h-10" />
            <span id="container-day-title" class=" text-sm xl:text-xl text-white pl-2"
              >Marzo 14</span
            >
            <span class="text-xl text-white pl-2"> |</span>
            <span id="container-event-time" class=" text-sm xl:text-xl text-white pl-2"
              >8:00 AM - 9:00 AM</span
            >
          </div>

          <div class="w-full mt-2 md:flex md:flex-col">
            <h3
              id="container-event-description"
              class="text-white text-base pb-10"
            >
              Registro en el gimnasio de CETYS.
            </h3>
            <img
              id="container-event-img"
              class="hidden w-10 h-10 md:w-20 md:h-20"
              src=""
              alt="event image"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script src="../js/eventOnClick.js"></script>
